<div class="bg-white border-bottom">
  <div class="row">
    <div class="col-auto">
      <div class="row">
        <a href="/" class="navbar-brand m-0 p-0">
          <h3 class="nav-link m-0 text-center">Blueprint</h3>
        </a>
      </div>
    </div>
    <div class="col-auto align-self-center px-0">
      <span class="text-uppercase page-subtitle">OPA Policy Builder</span>
    </div>
    <div class="col-auto ml-auto">
      <div class="row">
        <div class="nav-link text-center px-0">
          <a class="btn" href="/policies"><i class="material-icons">policy</i> Policies</a>
        </div>
        <!--        <div class="nav-link text-center px-0"-->
        <!--             sec:authorize="hasAnyAuthority(T(com.tracelink.prodsec.blueprint.app.auth.model.CoreRole).CREATOR_ROLE, T(com.tracelink.prodsec.blueprint.app.auth.model.CoreRole).ADMIN_ROLE)">-->
        <!--          <a class="btn" href="/creator"><i class="material-icons">edit</i> Creator</a>-->
        <!--        </div>-->
        <div class="nav-link text-center px-0"
             sec:authorize="hasAnyAuthority(T(com.tracelink.prodsec.blueprint.app.auth.model.CoreRole).ADMIN_ROLE)">
          <a class="btn" href="/usermgmt"><i class="material-icons">account_circle</i> User Mgmt</a>
        </div>
        <div class="nav-link text-center px-0"
             sec:authorize="hasAnyAuthority(T(com.tracelink.prodsec.blueprint.app.auth.model.CoreRole).ADMIN_ROLE)">
          <a class="btn" target="__blank" href="/console"><i class="material-icons">memory</i>
            Console</a>
        </div>
        <div class="nav-link text-center px-0">
          <a class="btn" href="/profile"> <i class="material-icons">&#xE7FD;</i> Profile</a>
        </div>
        <div class="nav-link text-center px-0">
          <form method="POST" action="/logout">
            <input type="hidden" th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}"/>
            <button class="nav-link nav-link-icon text-danger btn" type="submit">
              <i class="material-icons text-danger">&#xE879;</i> Logout
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


